/.gradle/

# Idea settings
/.idea/*.xml
/.idea/modules/
/.idea/artifacts
/.idea/.gitignore


/target/
/**/build/

/build-logic/.gradle/

/kotlin-js-store/

/logs/**
/local.properties
/**/*.log
/**/*.db
/**/moko-resources-generated.js